section.home1
    .banner-1
        .arrow-left
        .breadcumb
            ul
                li
                    a(href="") Trang chủ
                li.cc
                    a(href="") Tin tức
        