footer
    .container
        .row
            .col-lg-6.col-md-12
                h3 Công ty TNHH Mtv Thép Tấm Lá Phú Mỹ - VNSTEEL (Pfs) 
                .row
                    .col-6
                        ul
                            li
                                em.fas.fa-map-marker-alt
                                span Khu Công nghiệp Phú Mỹ 1, Phường Phú Mỹ, Thị xã Phú Mỹ, Tỉnh Bà Rịa – Vũng Tàu
                            li
                                em.fas.fa-phone-volume
                                span (+84254) 3921457 
                            li
                                em.fas.fa-phone-volume
                                span (+84254) 3921458
                            li 
                                em.fas.fa-envelope
                                span phumycrm@hcm.vnn.vn 
                                |www.pmfsteel.com.vn
                    .col-6
                        ul
                            li
                                a(href="") Giới thiệu Pfs
                            li
                                a(href="") Lịch sử phát triển
                            li
                                a(href="") Tầm nhìn sứ mệnh
                            li
                                a(href="") Giá trị cốt lõi
                            li
                                a(href="") Chính sách chất lượng
                            li
                                a(href="") Quy trình sản xuất
            .col-lg-3.col-md-6
                h3 Liên kết nhanh
                ul
                    li
                        a(href="") SẢN PHẨM 
                    li
                        a(href="") TIN TỨC
                    li
                        a(href="") TUYỂN DỤNG
                    li
                        a(href="") LIÊN HỆ
            .col-lg-3.col-md-6
                h3 đăng ký nhận bản tin
                .box-search
                    input(type="text" placehold="nhập tìm kiếm")
                    button 
                        em.far.fa.angle-right
                .footer-logo
                    img(src="./img/footer_logo1.png", alt="")
                    img(src="./img/footer_logo2.png", alt="")
                    img(src="./img/footer_logo3.png", alt="")
        .row
            .col-lg-12
                .copyright
                    p © 2018 Công ty TNHH Một thành viên Thép Tấm Lá Phú Mỹ - VNSTEEL (PFS) . All Right Reserved. Designed by Canh Cam  |  Sitemap  |
                    .social-icon
                        a(href="")
                            em.fab.fa-facebook-f
                        a(href="")
                            em.fab.fa-youtube
                        a(href="")
                            em.fab.fa-instagram


            




