header
    .sticky
        .container
            .main-wrap
                .logo
                    a(href="#")
                        img(src="./img/LOGO_PFS.png", alt="")
                .main-menu
                    ul
                        li
                            a(href="") giới thiệu
                        li
                            a(href="") sản phẩm 
                        li
                            a(href="") đối tác-khách hàng
                        li
                            a(href="") tin tức 
                        li
                            a(href="") tuyển dụng
                        li
                            a(href="") liên hệ
                .search
                    .search-icon
                        em.fas.fa-search
                    .searchbox
                        input(type="text")
                        button(type='button')
                            em.fas.fa-search
                .language
                    .language-active
                        img(src="./img/en.png", alt="")
                        em.fas.fa-sort-down
                    .language-list
                        a(href="")
                            img(src="./img/en.png", alt="")
                        a(href="")
                            img(src="./img/en.png", alt="")
                .toggle-menu
                    em.fas.fa-bars
            .bar-menu

                        