.chatluong-slider
    .container
        h2 chính sách chất lượng
        p Hệ thống quản lý chất lượng Công ty được triển khai đồng bộ, chặt chẽ trên tất cả các lĩnh vực hoạt động. Từ năm 2006, Công ty chúng tôi đã được trung tâm QUACERT cấp giấy chứng nhận hệ thống quản lý chất lượng Công ty phù hợp tiêu chuẩn ISO 9001: 2000 và giấy chứng nhận môi trường Công ty phù hợp tiêu chuẩn ISO 14001: 2004. Đến nay công ty vẫn duy trì tốt hoạt động của hệ thống.
        // Slider main container
        .swiper-container
            // Additional required wrapper
            .swiper-wrapper
                // Slides
                .swiper-slide 
                    img(src="./img/chungnhan.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit
                .swiper-slide 
                    img(src="./img/chungnhan.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit
                .swiper-slide 
                    img(src="./img/chungnhan.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit
                .swiper-slide 
                    img(src="./img/chungnhan.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit
                .swiper-slide 
                    img(src="./img/chungnhan.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit
            // If we need pagination
            .swiper-pagination
            // If we need navigation buttons
            .swiper-button-prev
            .swiper-button-next
            //- // If we need scrollbar
            //- .swiper-scrollbar
.quytrinh
    .container
        .row
            .col-lg-12.col-md
                h2 quy trinh sản xuất
                .quytrinh-img
                    img.responsive(src="./img/quytrinh.png", alt="")