section.tintuc-ct
    .banner
        .arrow-left
        .breadcumb
            ul
                li
                    a(href="") Trang chủ
                li.cc
                    a(href="") Tin tức
    .container
        .menu-2
            ul
                li
                    a.active(href="") Tin công ty
                li
                    a(href="") Thị trường   
                li
                    a(href="") Thư viện ảnh
        .box-tintuc-ct
            .row
                .col-lg-9.col-md-12
                    .box-left
                        h3 Gần 50 tập đoàn công nghiệp Mỹ đề nghị chính quyền Trump bỏ thuế nhập khẩu thép
                        date 31/10/2010
                        p Hàng chục tập đoàn và doanh nghiệp công nghiệp Mỹ ngày 23/1 đã gửi thư tới chính quyền của Tổng thống Trump khẩn thiết yêu cầu chấm dứt áp thuế cao với nhôm và thép.
                        p Bức thư, có chữ ký của gần 50 tập đoàn và doanh nghiệp Mỹ, có đoạn viết: “Việc tiếp tục áp đặt các mức thuế đó đồng nghĩa với việc các công ty Mỹ phụ thuộc vào nhôm và thép nhập khẩu gánh chịu nhiều khó khăn về kinh tế”.
                        p Bên cạnh việc chi phí gia tăng đối với các công ty nhập khẩu các sản phẩm kim loại hoặc phụ tùng, nhiều ngành công nghiệp khác cũng đang phải vật lộn chống chọi với những biện pháp trả đũa đến từ các nước như Trung Quốc và Mexico.
                        p Mặc dù hoan nghênh thỏa thuận vừa đạt được giữa Mỹ, Mexico và Canada (USMCA), song các tập đoàn và doanh nghiệp trên vẫn cảnh báo rằng đối với "nhiều nông dân, chủ trang trại và nhà sản xuất, thiệt hại từ các hành động thương mại trả đũa lẫn nhau sẽ lớn hơn so với lợi ích mà họ được hưởng từ USMCA".
                        img(src="./img/tintuc-ct1.png", alt="")
                        span Công nhân đang làm tại nhà máy sản xuất thép
                        p Lá thư, có chữ ký của những tập đoàn và tổ chức đình đám như Hiệp hội Các nhà chế tạo Ô tô & Thiết bị, Hiệp hội Nhà hàng Quốc gia Mỹ, kêu gọi chính quyền Mỹ tiến hành tất cả bước đi cần thiết nhằm giải quyết vấn đề này để hoạt động thương mại với mức thuế 0% được nối lại tại khu vực Bắc Mỹ.
                        p Hội đồng Các nhà sản xuất Thịt lợn Mỹ dẫn một nghiên cứu cho thấy các biện pháp trả đũa của Mexico khiến các nhà chế biến thịt lợn ở Mỹ thua thiệt 1,5 tỷ USD/ năm, trong khi tác động của các biện pháp trả đũa từ Trung Quốc khiến họ thiệt hại 1 tỷ USD/ năm.
                .col-lg-3.col-md-12
                    .box-right
                        h2 TIN TỨC KHÁC
                        .tintuc-sidebars
                            .row
                                .col-md-12.col-sm-6
                                    figure
                                        img(src="./img/tintuc-ct2.png", alt="")
                                        figcaption
                                            date 31/10/2010
                                            h4 Doanh nghiệp xuất khẩu thép cần làm gì để phòng tránh rủi ro?
                                .col-md-12.col-sm-6
                                    figure
                                        img(src="./img/tintuc-ct2.png", alt="")
                                        figcaption
                                            date 31/10/2010
                                            h4 Doanh nghiệp xuất khẩu thép cần làm gì để phòng tránh rủi ro?
                                .col-md-12.col-sm-6
                                    figure
                                        img(src="./img/tintuc-ct4.png", alt="")
                                        figcaption
                                            date 31/10/2010
                                            h4 Doanh nghiệp xuất khẩu thép cần làm gì để phòng tránh rủi ro?
                                .col-md-12.col-sm-6
                                    figure
                                        img(src="./img/tintuc-ct5.png", alt="")
                                        figcaption
                                            date 31/10/2010
                                            h4 Doanh nghiệp xuất khẩu thép cần làm gì để phòng tránh rủi ro?
            .social-icon
                .icon-ms
                    a(href="") 
                        em.fab.fa-facebook-messenger
                        span send
                .icon-fb
                    a(href="") 
                        em.fab.fa-facebook-square
                        span Like
                .icon-fb
                    a(href="") 
                        em.fab.fa-facebook-square
                        span share
                .icon-g
                    a(href="") 
                        em.fab.fa-google-plus-g
                        span
                .icon-pop 
                    a(href="") 0

