.lichsu-slider
    .container
        h2 lịch sử phát triển
        // Slider main container
        .swiper-container
            // Additional required wrapper
            .swiper-wrapper
                // Slides
                .swiper-slide 
                    h4 2016
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab odio iste sunt eligendi, minus
                    .tg
                .swiper-slide 
                    h4 2016
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab odio iste sunt eligendi, minus
                    .tg
                .swiper-slide 
                    h4 2016
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab odio iste sunt eligendi, minus
                    .tg
                .swiper-slide 
                    h4 2016
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab odio iste sunt eligendi, minus
                    .tg
                .swiper-slide 
                    h4 2016
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab odio iste sunt eligendi, minus
                    .tg
            .swiper-button
                .button-prev
                    em.lnr.lnr-chevron-left
                .button-next
                    em.lnr.lnr-chevron-right