extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/h-1/index
	include ../components/home/gioithieu/index
	include ../components/home/sumenh/index
	include ../components/home/lichsu/index
	include ../components/home/chatluong/index