section.lienhe
    .lh-banner
        .arrow-left
    .container
        .breadcumb
            ul
                li
                    a(href="") Trang chủ 
                li
                    a(href="") Liên hệ
        .lh-title
            h2 liên hệ
        .box-lh
            .row
                .col-lg-4.col-sm-12.side-form
                    .text-box
                        h4 Công ty TNHH Mtv Thép Tấm Lá Phú Mỹ - VNSTEEL (Pfs) 
                        ul
                            li
                                em.fas.fa-map-marker-alt
                                span Khu Công nghiệp Phú Mỹ 1, Phường Phú Mỹ, Thị xã Phú Mỹ, Tỉnh Bà Rịa – Vũng Tàu
                            li
                                em.fas.fa-phone-volume
                                span (+84254) 3921457 
                            li
                                em.fas.fa-phone-volume
                                span (+84254) 3921458
                            li 
                                em.fas.fa-envelope
                                span phumycrm@hcm.vnn.vn 
                                |www.pmfsteel.com.vn

                .col-lg-8.col-sm-12
                    .form-lienhe
                        form
                            input(type="text" placeholder="Họ và tên")
                            input(type="text" placeholder="Email")
                            input(type="text" placeholder="Số điện thoại")
                            input(type="text" placeholder="Tiêu đề")
                            textarea
                            input.cap(type="text")   
                            button Gửi
        .mapouter
            .gmap_canvas
                iframe#gmap_canvas(src='https://maps.google.com/maps?q=ph%C3%BA%20m%E1%BB%B9%20&t=&z=13&ie=UTF8&iwloc=&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')
                a(href='https://www.embedgooglemap.net/blog/best-wordpress-themes/')
            
