section.gallery-wrap
    .gallery-banner
        .arrow-left
    .container
        .breadcumb
            ul
                li
                    a(href="") Trang chủ 
                li
                    a(href="") gallery
        .gallery-menu
            ul
                li
                    a(href="") tin công ty 
                li
                    a(href="") thị trường 
                li
                    a(href="") thư viện ảnh
        .gallery
            .gallery-title
                h2 thư viện ảnh
            .list-img
                .row
                    .col-lg-6.col-md-12
                        .row
                            .col-lg-6.col-md-6
                                a(href="../img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-2.png", alt="")   
                            .col-lg-6.col-md-6
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-3.png", alt="")   
                        .row
                            .col-12
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img.big
                                        img(src="./img/gallery-img-4.png", alt="")   
                        .row
                            .col-lg-6.col-md-6
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-5.png", alt="")   
                            .col-lg-6.col-md-6
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-6.png", alt="")   
                    .col-lg-6.col-md-12
                        .row
                            .col-lg-6.col-md-6
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-7.png", alt="")   
                            .col-lg-6.col-md-6
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-8.png", alt="")   
                        .row
                            .col-12
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img.big
                                        img(src="./img/gallery-img-9.png", alt="")   
                        .row
                            .col-lg-6.col-md-6
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-10.png", alt="")   
                            .col-lg-6.col-md-6
                                a(href="./img/gallery-img-2.png" data-fancybox="gallery") 
                                    .box-img
                                        img(src="./img/gallery-img-2.png", alt="")   
            .site-pagination
                a.active(href="") 1
                a(href="") 2
                a(href="") 3
                a(href="") 4
    
