.container.section-menu-2
    .danhmuc
        h4 DANH MUC
        em.fas.fa-sort-down
    .menu-2
        ul
            li
                a.active(href="") Trang chủ
            li
                a(href="") Lịch sử phát triển 
            li
                a(href="") Tầm nhìn sứ mệnh
            li
                a(href="") Chính sách chất lượng 
            li
                a(href="") quy trình sản xuất
section.gioithieu
    .container
        h2 GIỚI THIỆU
        p Công ty TNHH Một thành viên Thép Tấm Lá Phú Mỹ - VNSTEEL (PFS) là đơn vị thành viên trực thuộc Tổng Công ty Thép Việt Nam - CTCP, tọa lạc trên khuôn viên 13,5 hecta tại khu công nghiệp Phú Mỹ I, Phường Phú Mỹ, Thị xã Phú mỹ, Tỉnh Bà Rịa - Vũng Tàu
        .row.box-item
            .col-lg-3.col-md-6
                figure
                    img(src="./img/gioithieu_icon1.png", alt="")
                    figcaption
                        p Công nghệ sản xuất tiên tiến từ Ý, Mỹ, Áo
            .col-lg-3.col-md-6
                figure
                    img(src="./img/gioithieu_icon2.png", alt="")
                    figcaption
                        p Công nghệ sản xuất tiên tiến từ Ý, Mỹ, Áo
            .col-lg-3.col-md-6
                figure
                    img(src="./img/gioithieu_icon3.png", alt="")
                    figcaption
                        p Công nghệ sản xuất tiên tiến từ Ý, Mỹ, Áo
            .col-lg-3.col-md-6
                figure
                    img(src="./img/gioithieu_icon4.png", alt="")
                    figcaption
                        p Công nghệ sản xuất tiên tiến từ Ý, Mỹ, Áo
        .gioithieu2
            .row
                .col-lg-7.col-md-12
                    img.img-fluid(src="./img/gioithieu.png", alt="")
                .col-lg-5.col-md-12.text-box-gt
                    p Với khu văn phòng và nhà xưởng hiện đại, đội ngũ cán bộ kỹ thuật và quản lý được đào tạo chuyên nghiệp bởi các chuyên gia hàng đầu tại Châu Âu, Châu Mỹ; Công ty chúng tôi tự hào là nhà sản xuất thép tấm lá cán nguội đầu tiên của Việt nam.

                    p Công ty chúng tôi cam kết không ngừng nâng cao chất lượng sản phẩm cùng với dịch vụ hoàn hảo và sự bảo hành lâu dài cho các sản phẩm của mình với mong muốn đáp ứng tối đa nhu cầu của khách hàng.