section.box-sumenh
    .container
        h2 tầm nhìn-sứ mệnh-giá trị cốt lõi
        .row
            .col-lg-6.col-sm-12.img
                img.img-fluid(src="./img/tamnhin.png", alt="")
            .col-lg-6.col-sm-12.text-box-sm
                h4 tầm nhìn 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab odio iste sunt eligendi, minus adipisci? 
                h4.t1 sứ mệnh
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatum dignissimos in 
                h4.t2 giá trị cốt lõi
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod corrupti, nam culpa vero 