section.tintuc-wrap
    .tintuc-banner
        .arrow-left
        .breadcumb
            ul
                li
                    a(href="") Trang chủ
                li
                    a(href="") tin tức
    .container
        .tintuc-menu
            ul
                li
                    a(href="") tin công ty 
                li
                    a(href="") thị trường 
                li
                    a(href="") thư viện ảnh
        .tintuc
            .tintuc-title
                h2 tin thị trường
            .box-tintuc
                .top-tin
                    .row
                        .col-lg-6.col-sm-12
                            img.img-fluid(src="./img/tintuc-img1.png", alt="")
                        .col-lg-6.col-sm-12
                            .content
                                date 31/11/2010
                                h4 Gần 50 tập đoàn công nghiệp Mỹ đề nghị chính quyền Trump bỏ thuế nhập khẩu thép
                                p Hàng chục tập đoàn và doanh nghiệp công nghiệp Mỹ ngày 23/1 đã gửi thư tới chính quyền của Tổng thống Trump khẩn thiết yêu cầu chấm dứt áp thuế cao với nhôm và thép. Bức thư, có chữ ký của gần 50 tập đoàn và doanh nghiệp Mỹ, có đoạn viết: “Việc tiếp tục áp đặt các mức thuế đó đồng nghĩa với việc các công ty Mỹ phụ thuộc vào nhôm và thép nhập khẩu gánh chịu nhiều khó khăn về kinh tế”.
                                button.btn-topt xem thêm
                .list-tin
                    .row
                        .col-lg-4.col-md-6
                            .itemt
                                figure
                                    img(src="./img/tintuc-img2.png", alt="")
                                    figcaption
                                        date 31/11/2010
                                        h5 Lợi ích kép từ việc tái sử dụng xỉ gang thép tại Việt Nam
                        .col-lg-4.col-md-6
                            .itemt
                                figure
                                    img(src="./img/tintuc-img2.png", alt="")
                                    figcaption
                                        date 31/11/2010
                                        h5 Lợi ích kép từ việc tái sử dụng xỉ gang thép tại Việt Nam
                        .col-lg-4.col-md-6
                            .itemt
                                figure
                                    img(src="./img/tintuc-img2.png", alt="")
                                    figcaption
                                        date 31/11/2010
                                        h5 Lợi ích kép từ việc tái sử dụng xỉ gang thép tại Việt Nam
                        .col-lg-4.col-md-6
                            .itemt
                                figure
                                    img(src="./img/tintuc-img2.png", alt="")
                                    figcaption
                                        date 31/11/2010
                                        h5 Lợi ích kép từ việc tái sử dụng xỉ gang thép tại Việt Nam
                        .col-lg-4.col-md-6
                            .itemt
                                figure
                                    img(src="./img/tintuc-img2.png", alt="")
                                    figcaption
                                        date 31/11/2010
                                        h5 Lợi ích kép từ việc tái sử dụng xỉ gang thép tại Việt Nam
                        .col-lg-4.col-md-6
                            .itemt
                                figure
                                    img(src="./img/tintuc-img2.png", alt="")
                                    figcaption
                                        date 31/11/2010
                                        h5 Lợi ích kép từ việc tái sử dụng xỉ gang thép tại Việt Nam
                    .site-pagination
                        a.active(href="") 1
                        a(href="") 2
                        a(href="") 3
                        a(href="") 4
        
